<html>

<head>

    <style>
        table {
            width: 100%;
        }

        table {
            width: 100%;
        }

        tr {
            text-align: center;
            border: 0;
        }

        th {
            background: skyblue;
            color: #FFF;
        }

        .col-md-8.col-sm-8.wrapper {

            width: 1000px;
            margin: 50px auto;

        }

        #imgfile {

            width: 100%;
            border: 1px solid #CCC;
            margin-bottom: 10px;
            padding: 10px;

        }

        .btn.btn-primary.btn-sm {

            color: white;
            background: cornflowerblue;
            border: none;
            padding: 7px 26px;
            border-radius: 10px;
            margin-top: 10px;

        }
    </style>
</head>

<body style="background-color: aliceblue;">
    <div class="row">
        <div class="col-md-8 col-sm-8 wrapper">
            {% block content %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="imagefile" id="imgfile">
                <p>Password: <input type="password" name="pwd" placeholder="Optional" value="{{ pwd }}"></p><br>
                <button type="submit" class="btn btn-primary btn-sm">Upload</button>
            </form>

            {% if uploaded_file_url %}
            <p>Image URL: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
            {% endif %}


            <table border="1">
                <tr>
                    <th>Image Url</th>
                    <th>Image Views</th>
                    <th>Uploaded Date</th>
                </tr>
                {% for image in images %}
                <tr>
                    <td> <a href='{{ image.image_shorten_url }}' target='_blank'>{{ image.image_shorten_url }}</a></td>
                    <td> {{ image.img_views }}</td>
                    <td> {{ image.upload_datetime }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endblock %}
        </div>
    </div>
</body>

</html>