<html>

<head>
    <style>
        .wrapper {
            width: 400px;
            margin: 50px auto;
            border: 2px solid #000;
            padding: 25px;
            border-radius: 10px;
        }

        .btn.btn-primary.btn-sm {

            color: white;
            background: cornflowerblue;
            border: none;
            padding: 7px 26px;
            border-radius: 10px;
            margin-top: 10px;

        }
    </style>
</head>

<body style="background-color:#eee;">
    {% block content %}
    <form method="post" class="wrapper">
        {% csrf_token %}
        <p>password: <input type="password" name="pwd" placeholder="please enter password" value="{{ pwd }}"></p>
        <button type="submit" class="btn btn-primary btn-sm">Upload</button>
    </form>

    {% endblock %}
</body>

</html>